body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Arrange the elements vertically */
    align-items: center; /* Align items to the center */
    height: 100vh;
    /* Remove padding to the top of the body */
    padding-right: 20px; /* Add padding to the right of the body */
}

.container {
    display: flex;
    flex-direction: column; /* Arrange the elements vertically */
    align-items: center; /* Align items to the center */
    width: 100%; /* Make the container take up the full width */
    position: relative; /* Make the container the reference for absolute positioning */
}

.header {
    display: flex;
    justify-content: space-between; /* Distribute the elements horizontally */
    width: 100%; /* Make the header take up the full width */
    align-items: center; /* Align items to the center vertically */
}

.mainlink {
    margin: 0; /* Remove default margin */
    padding: 0 20px 0 20px; /* Add padding to the left, top, right, and bottom */
    display: flex; /* Use flexbox to align the text */
    align-items: center; /* Vertically center the text */
}

.mainlink span {
    color: red;
    padding-right: 20px; /* Add spacing between the "Manchow" and "Wok" text */
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Align the links horizontally */
    width: 100%; /* Make the links take up the full width */
    margin-top: 40px; /* Add some space between the header and the links */
}

.links li {
    margin: 0 20px; /* Add 40px gap between the links */
}

.links li a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    font-weight: 520;
}

.half-cylinder {
    width: 400px;
    height: 500px;
    background-color: red;
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('11.png');
    background-size: 300px 300px; /* Adjust size */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; /* Position the half-cylinder absolutely */
    right: 0; /* Align it to the right */
    top: 0; /* Adjust the vertical position */
}

.subtitle-container {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align the subtitle container to the left */
    margin-top: 80px; /* Add some space between the header and the subtitle */
}

.subtitle {
    z-index: 1; /* Ensure the subtitle is on top of the half-cylinder */
    text-align: left; /* Align the subtitle text to the left */
    padding-left: 20px; /* Add some padding to the left */
}